@media (600px <= width <= 1000px) {
  .layout {
    transform: scale(0.7);
    gap: 1rem;
    max-width: 200vw;
  }
  .user .userChoice {
    gap: 1vw;
  }
}
@media (width <= 600px) {
  nav {
    position: fixed;
  }

  nav p {
    font-size: 2em;
  }

  .layout {
    flex-direction: column;
  }
  .user {
    transform: scale(0.6);
  }

  .comp {
    transform: scale(0.6);
    position: relative;
    top: -22rem;
  }

  .hline {
    top: -11rem;
    position: relative;
    transform: rotate(90deg);
  }

  .score {
    position: relative;
    top: -25rem;
    transform: scale(0.9);
  }

  .result {
    position: relative;
    top: -26rem;
    width: 22rem;
  }

  .reset {
    transform: scale(0.9);
    bottom: 1rem;
    left: 1rem;
  }
}

@media (width <= 400px) {
  nav p {
    font-size: 1.9em;
  }
  .user,
  .comp {
    transform: scale(0.55);
  }
}

@media (orientation: landscape) and (max-width: 1000px) {
  body,
  .backgrundSVG {
    height: 100%;
    overflow-y: scroll;
  }

  .layout {
    transform: scale(0.7);
    gap: 3rem;
    max-width: 200vw;
  }
  .user .userChoice {
    gap: 2vw;
  }

  .reset {
    bottom: 3vh;
    position: relative;
    left: -41vw;
  }

  .created {
    bottom: 0;
    position: relative;
    left: 41vw;
  }
}
