@import url("https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: #3aafa9;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiles {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: absolute;
  overflow: hidden;
}
.property {
  width: 50rem;
  height: 22rem;
  transform: rotate(-16.295deg);
  border-radius: 2.4375rem;
  border: 1px solid #fff;
  background: rgba(223, 173, 246, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6.5px);
}

.t1 {
  bottom: -2rem;
  position: absolute;
  left: -7rem;
  animation: til1 6s ease-in-out 0s infinite;
}

@keyframes til1 {
  0% {
    transform: scale(1) rotate(-16.295deg);
  }
  50% {
    transform: scale(1.05) rotate(-16.295deg);
  }
  100% {
    transform: scale(1) rotate(-16.295deg);
  }
}

.t2 {
  bottom: 1rem;
  position: absolute;
  left: -15rem;
  animation: til2 6s ease-in-out 0s infinite;
}

@keyframes til2 {
  0% {
    transform: scale(1) rotate(-16.295deg);
  }
  70% {
    transform: scale(1.06) rotate(-16.295deg);
  }
  100% {
    transform: scale(1) rotate(-16.295deg);
  }
}

.t3 {
  bottom: 6rem;
  position: absolute;
  left: -23rem;
  animation: til3 6s ease-in-out 0s infinite;
}

@keyframes til3 {
  0% {
    transform: scale(1) rotate(-16.295deg);
  }
  40% {
    transform: scale(1.03) rotate(-16.295deg);
  }
  100% {
    transform: scale(1) rotate(-16.295deg);
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 23.625rem;
  border: 12px solid #2b7a77;
  background: rgba(223, 173, 246, 0.1);
  backdrop-filter: blur(6.5px);
  width: 20rem;
  height: 20rem;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}
.heading {
  font-family: "Jolly Lodger", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 5em;
  user-select: none;
}

.logo:hover {
  transform: scale(1.2);
  background: rgba(81, 249, 92, 0.182);
}

.created {
  width: 9rem;
  height: 2.4rem;
  margin-top: 2rem;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(6.5px);
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.3rem;
}

.created p {
  color: #ffffff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Ubuntu Condensed";
  font-style: normal;
  letter-spacing: 0.25rem;
  user-select: none;
  font-size: 1rem;
}
